@model CoolMeetingWeb.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "修改密码";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <legend>密码信息</legend>
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
        <div class="form-control-static">
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
        <div class="form-control-static">
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        <div class="form-control-static">
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
            @Html.ValidationMessage("")
            @if (Model != null && Model.Success)
            {
                <br />
                <alert class="alert alert-success">修改密码成功</alert>
                <br />
                <br />
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
            <input type="submit" value="确定" class="btn btn-primary" />
            <input type="button" value="取消" class="btn btn-default" onclick="window.history.back();" />
        </div>
    </div>
}